[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KPlayer File Info
Name[br]=Titouroù diwar-benn ar restr KPlayer
Name[da]=KPlayer Filiformation
Name[el]=Αρχείο πληροφοριών του KMPlayer
Name[es]=Información del fichero de KPlayer
Name[et]=KPlayeri failiinfo
Name[fr]=Informations sur le fichier KPlayer
Name[ga]=Eolas Faoi Chomhad KPlayer
Name[it]=Informazioni sul file KPlayer
Name[mk]=Инфо. за датотека на KPlayer
Name[nl]=KPlayer-bestandsinformatie
Name[pa]=KPlayer ਫਾਇਲ ਜਾਣਕਾਰੀ
Name[pt]=Informação do Ficheiro do KPlayer
Name[pt_BR]=Informações do arquivo do KPlayer
Name[ru]=Сведения о файле - KPlayer
Name[sr]=KPlayer-ов фајл инфо
Name[sr@Latn]=KPlayer-ov fajl info
Name[sv]=Kplayer filinformation
Name[ta]=கேப்ளேயர் கோப்பு தகவல்
Name[tr]=KPlayer Dosya Bilgisi
Name[xx]=xxKPlayer File Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_kplayer
MimeType=audio/x-pn-realaudio;video/x-pn-realaudio;application/x-pn-realaudio;audio/vnd.rn-realaudio;video/x-pn-realvideo;audio/x-scpls;audio/x-mp3;audio/x-vorbis;application/x-mplayer2;application/ogg;audio/x-mp2;video/mpeg;audio/mpeg;audio/x-mpegurl;video/x-mpegurl;audio/x-wav;audio/x-mod;video/x-avi;audio/x-ms-asf;video/x-ms-asf;application/x-ms-asf;audio/x-ms-wma;audio/x-ms-wmp;video/x-ms-wmp;video/x-ms-wmv;video/x-msvideo;video/quicktime;video/x-flic;application/vnd.ms-asf;application/x-ogg;audio/basic
PreferredGrous=Technical
PreferredItems=Length,Resolution,Video Codec,Audio Codec
