[Desktop Entry]
ServiceTypes=inode/directory
Actions=AddToPlaylists;AddToCollection
Encoding=UTF8

[Desktop Action AddToPlaylists]
Name=Add to playlists
Name[af]=Voeg by speel lys
Name[bg]=Добавяне към списъци
Name[cs]=Přidat do seznamů skladeb
Name[da]=Tilføj til spillelister
Name[el]=Προσθήκη στις λίστες αναπαραγωγής
Name[es]=Añadir a la lista de reproducción
Name[et]=Lisa esitusnimekirjadesse
Name[fr]=Ajouter à la liste de lecture
Name[ga]=Cuir le seinmliostaí
Name[it]=Aggiungi alle playlist
Name[ja]=プレイリストに追加
Name[nl]=Toevoegen aan afspeellijst
Name[pa]=ਸੰਗੀਤ-ਸੂਚੀ 'ਚ ਸ਼ਾਮਿਲ
Name[pt]=Adicionar à lista de reprodução
Name[pt_BR]=Adicionar à Lista de Reprodução
Name[sv]=Lägg till i spellistor
Name[tr]=Çalma listelerine ekle
Icon=kplayer
Exec=kplayer --add-to-playlists %U

[Desktop Action AddToCollection]
Name=Add to collection
Name[af]=Voeg by versameling
Name[bg]=Добавяне към колекция
Name[cs]=Přidat do kolekce
Name[da]=Tilføj til samling
Name[el]=Προσθήκη στη συλλογή
Name[es]=Añadir a la colección
Name[et]=Lisa kogusse
Name[fr]=Ajouter à la collection
Name[ga]=Cuir le bailiúchán
Name[it]=Aggiungi alla collezione
Name[ja]=コレクションに追加
Name[nl]=Toevoegen aan collectie
Name[pa]=ਭੰਡਾਰ 'ਚ ਸ਼ਾਮਿਲ
Name[pt]=Adicionar à colecção
Name[pt_BR]=Adicionar à coleção
Name[sv]=Lägg till i samling
Name[tr]=Koleksiyona ekle
Icon=kplayer
Exec=kplayer --add-to-collection %U
